# Ignore common temporary files and backups
*.tmp
*.zip
New Text Document.txt
complete-backup/
old my-awesome-plugin/
old wp-license-manager/
wp-license-manager (*).zip
wplm_wc_link_insert.tmp

# Composer dependencies
/vendor/
/license-manager-for-woocommerce/vendor/
/elite-licenser/vendor/

# Node.js dependencies (if any)
/node_modules/

# IDE files (e.g., VS Code)
.vscode/

# Other generated or temporary files
*.log
*.bak
*.swp
.DS_Store
Thumbs.db
tmp/**
*.png

# Ignore extraneous plugin directories
/license-manager-for-woocommerce/
/elite-licenser/
/my-awesome-plugin/
/simple-plugin/
/software-license-manager-master/
/woocommerce-subscriptions/
/wp-license-manager (4)/
/wp-license-manager (7)/
